PORT=3010
OCPP_WS_PORT=9001
NODE_ENV=development

# RabbitMQ (Message Broker)
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Auth (Nếu cần xác thực Basic Auth qua WebSocket cho OCPP)
OCPP_USERNAME=admin
OCPP_PASSWORD=secret

JWT_PRIVATE_KEY_PATH=/var/run/secrets/jwt_private.pem
JWT_PUBLIC_KEY_PATH=/var/run/secrets/jwt_public.pem

